.contenedorDescripcionProducto {
  margin-top: 2rem;
  width: 100%;
  max-width: 80rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contenedorDescripcionProducto .izquierda {
  width: 30rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorDescripcionProducto img {
  width: 100%;
}

.contenedorDescripcionProducto .derecha {
  width: 30rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.contenedorDescripcionProducto .derecha p {
  font-size: 1.1rem;
}
